/*about me */
#aboutMeSection {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#aboutMeText h2 {
  font-size: 1.8rem;
  color: #0073e6;
  margin-bottom: 15px;
  text-align: center;
}

#aboutMeText p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  text-align: justify;
}

/*skills */
#skills {
  padding: 40px;
  background-color: #f4f4f9;
  text-align: center;
}

#skills h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 40px;
  font-weight: bold;
}

/* Create a grid layout for two rows */
.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  /* Two columns, responsive */
  gap: 30px;
  justify-items: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Full width inside the grid */
  height: 400px;
  /* Increased height for larger boxes */
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.skill-item img.avatar {
  width: 100px;
  /* Larger icon */
  height: auto;
  margin-bottom: 15px;
}

.skill-item h3 {
  font-size: 1.5em;
  /* Increased font size */
  margin-bottom: 10px;
  color: #0073e6;
  font-weight: bold;
  text-align: center;
}

.skill-item p {
  font-size: 1em;
  /* Increased font size */
  color: #666;
  text-align: center;
}

@media (max-width: 768px) {
  .skill-item {
    height: auto;
    /* Ensure auto height on smaller screens */
  }
}