/*Education */
.education-section {
  padding: 10px;
  text-align: center;
}

.education-item {
  border: 1px solid #415a77;
  padding: 10px;
  margin-bottom: 15px;
}

.education-item h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.education-item h4 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.education-item .study-period {
  font-weight: bold;
  margin-bottom: 5px;
}

.education-item .study-description {
  margin-top: 5px;
  line-height: 1.4;
}