/* Project Section Styling */
#projects-section {
  padding: 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-box {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-box h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-box p {
  margin-bottom: 15px;
  color: #666;
}

.project-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.project-box a:hover h3,
.project-box a:hover p {
  text-decoration: underline;
  /* Understryk texten vid hover */
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9em;
}