@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poiret+One&family=Spirax&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Generall css */
:root {
  font-size: 18px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  width: 845px;
}

/*nav */
#nav-meny {
  background-color: #0073e6;
  padding: 10px;
  text-align: center;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding: 8px 12px;
  display: inline-block;
}

.nav-link:hover {
  background-color: #005bb5;
  border-radius: 4px;
}

/* Image css */

#linkLogos {
  margin-left: 10%;
}

#linkLogos img {
  width: 60px;
  height: auto;
  margin-right: 2vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.avatar {
  width: 400px;
  height: auto;
  margin-left: 17%;
}